<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <h1>Transactions</h1>
    <a id="toggle" href="">Add transaction...</a>
    <form id="add-form"
          method="post"
          th:action="@{/transactions/new}"
          th:object="${transaction}"
          style="display: block; width: 250px; margin: 10px 0px; padding: 0px 10px 10px 10px; border: 1px solid;">
<!--        <p>Type: </p>-->
<!--        <select id="type" th:field="*{type}">-->
<!--            <option value="INCOME" hidden>INCOME</option>-->
<!--            <option value="EXPENSE" hidden>EXPENSE</option>-->
<!--        </select>-->

        <p>Amount: </p>
        <input type="text" th:field="*{amount}">

        <p>Comment: </p>
        <input type="text" th:field="*{comment}">

        <p>Date: </p>
        <input type="date" th:field="*{created_at}">

        <input type="submit" value="Add">
    </form>
<!--    <form method="post" th:action="@{/users/}" th:object="${userInfo}">-->
<!--        <input id="firstName" placeholder="Enter First Name" required type="text" th:field="*{firstName}"/>-->
<!--        <input id="lastName" placeholder="Enter Last Name" required type="text" th:field="*{lastName}"/>-->
<!--        <select id="role" required th:field="*{role}">-->
<!--            <option value="" hidden>Select a role</option>-->
<!--            <option value="GUEST" hidden>GUEST</option>-->
<!--            <option value="USER" hidden>USER</option>-->
<!--            <option value="ADMIN" hidden>ADMIN</option>-->
<!--        </select>-->
<!--        </div>-->
<!--        <input type="submit" value="Create User">-->
<!--    </form>-->

    <table>
        <tr>
            <th>ID</th>
            <th>Created_at</th>
            <th>Amount</th>
            <th>Comment</th>
        </tr>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.getTransaction_id}"></td>
            <td th:text="${transaction.getCreated_at}"></td>
            <td th:text="${transaction.getAmount}"></td>
            <td th:text="${transaction.getComment}"></td>
        </tr>
    </table>

    <script>
        const btn = document.getElementById('toggle');

        btn.addEventListener('click', () => {
            const form = document.getElementById('add-form');

            if (form.style.display === 'none') {
                // 👇️ this SHOWS the form
                form.style.display = 'block';
            } else {
                // 👇️ this HIDES the form
                form.style.display = 'none';
            }
        });
    </script>
</body>
</html>